
# Mac
*.DS_Store

# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# lammps
*.lammps
*.lammps.gz
*.dump
*.dump.gz

# directories
data/
tmp/
jobs/*
!jobs/examples/
jobs/examples/**
!jobs/examples/**/*.py
jobs/examples/**/*.txt
reference/dev.ipynb

